<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>聊天</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" href="css/hp.css" />
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/default.js"></script>
		<style>
			.canSent{
				color:#fff!important;
				background-color:#ff5a3a!important;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<header>
				<img class="nav-left" src="img/fanhui.png" alt="" onclick="javascript:history.back(-1);" /> Tizzy杂货铺
				<span class="nav-right jd" id="edit">进店</span>
			</header>
			<div class="header_box"></div>
			<div class="chat-data top10">2017-08-15 10:20</div>

			<div class="news_cont_box chat-body" id="chat-list">
						
			</div>
			<footer>
				<div class="chat-footer">
					<ul>
						<li class="up-img">

							<input type="file" name="" id="" value="" />
							<img src="img/up-img.png" />
						</li>
						<li>
							<textarea type="text" class="textarea" id="writeT" maxlength="200" data-selected="true"></textarea>
						</li>
						<li class="chat-fs">
							<input type="button" value="发送" />
						</li>
					</ul>
				</div>
			</footer>
			<div class="footer_box"></div>
		</div>
		
		<script type="text/template" id="boss-content">
			<div class="boss-news clearfix">
				<div class="boss-icon">
					<img src="img/boss-tx.png" />
				</div>
				<div class="boss-nr">
					<img src="img/news-icon-l.png" class="news-icon" />
					{{img!=null}}
					<img src="img/hh.gif" class="bq" />
					{{/if}}
					
					{{text!=null}}
					<p>不退</p>
					{{/if}}
				</div>
			</div>
		</script>
		
		<script type="text/template" id="gk-content">
			<div class="boss-news clearfix">
				<div class="boss-icon gk-icon">
					<img src="img/gk-tx.png" />
				</div>
				<div class="boss-nr gk-nr">
					<img src="img/news-icon-r.png" class="news-icon gk-r" />
					{{if text!=null}}
					<p>{{text}}</p>
					{{/if}}
					{{if img!=null}}
					<img src="img/hh.gif" class="bq" />
					{{/if}}
				</div>
			</div>
		</script>
		<script type="text/javascript" src="js/template.js" ></script>
		<script type="text/javascript" src="js/template-helper.js" ></script>
		<script type="text/javascript">
			var gkParams={};
			var sjParams={};
			var textArea=document.getElementById("writeT");
			textArea.oninput=function() {
				if(textArea.value == "") {
					$('.chat-fs input').removeClass("canSent");
				} else {
					$('.chat-fs input').addClass("canSent");
				}

			};
			$('.chat-fs input').click(function(){
				if($(this).hasClass("canSent")){
					gkParams.text=textArea.value;
					var html=template('gk-content',gkParams);
					$("#chat-list").append(html);
					textArea.value=null;
					$('.chat-fs input').removeClass("canSent");
					document.documentElement.scrollTop=document.documentElement.offsetHeight-document.documentElement.clientHeight;
					getInfo("post",ajaxUrl+"/front/News/shopSendingMessages?token="+token,{newsInfo:gkParams.text,userId:1},function(r){
						alert(11)
					})
				}
			})
			
			setInterval(function(){
				getInfo("post",ajaxUrl+"/front/News/shopAcceptNews?token="+token,{shopId:1},function(r){
					
					var html=template('boss-content',r);
					$("#chat-list").append(html);
				})
			},10000);
		</script>
	</body>

</html>