<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>店铺收藏</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE,Chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" href="css/hp.css" />
		<script src="js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/default.js"></script>
		<script src="js/template.js"></script>
		<script src="js/template-helper.js"></script>
		<style>
		.dp-rg-cen img{
			width: 10%;
		}
		</style>
	</head>

	<body>
		<div class="container">
			<header>
				<img class="nav-left" src="img/fanhui.png" alt="" onclick="javascript:history.back(-1);"/>店铺收藏
			</header>
			<div class="content">
				<div class="dpsc-list">
					<ul class="no-lost"></ul>
					<script type="text/template" id="no-lost">
						{{each shop as k i}}
							{{if k.status==2}}
								<li data-id = "{{k.id}}">
									<div class="dpsc-left">
										<label for="ax">
											<div class="ax">
												<img src="img/icon-like.png" />
											</div>
										</label>
									</div>
									<div class="dpsc-center">
										<img src="{{k.bigImg}}" />
									</div>
									<div class="dpsc-right">
										<div class="dp-rg-top">
											<span>{{k.name}}</span>
										</div>
										<div class="dp-rg-cen">
											{{each k.starts as l n}}
												<img src="img/xin1.png"/>
											{{/each}}
											{{each k.nostarts as l n}}
												<img src="img/xin2.png"/>
											{{/each}}
										</div>
										<div class="dp-rg-bom">
											<span class="shangx"></span>
										</div>
									</div>
								</li>
							{{/if}}
						{{/each}}
					</script>
					<ul class="has-lost"></ul>
					<script type="text/template" id="has-lost">
						{{each shop as k i}}
							{{if k.status!=2}}
								<li>
									<div class="dpsc-left">
										<label for="ax">
											<div class="ax">
												<img src="img/icon-pass.png" />
											</div>
											
										</label>
									</div>
									<div class="dpsc-center">
										<div class="sx">已失效</div>
										<img src="{{k.bigImg}}" />
									</div>
									<div class="dpsc-right">
										<div class="dp-rg-top">
											<span>{{k.name}}</span>
										</div>
										<div class="dp-rg-cen">
											
												{{each k.starts as l n}}
												<img src="img/xin1.png"/>
											{{/each}}
											{{each k.nostarts as l n}}
												<img src="img/xin2.png"/>
											{{/each}}
											
										</div>
										<div class="dp-rg-bom">
											<span></span>
											<input type="button" value="删除" />
										</div>
									</div>
								</li>
							{{/if}}
						{{/each}}
					</script>
				</div>
				<!--<div class="no-more">
					<img src="img/icon-jiazaipng.png" />
					<p>别扯了。没有更多了！！！</p>
				</div>-->
		</div>

		</div>
			<script>
				$(function(){
					var listparam={
						token:token,
						pageNo:0,
						pageSize:8,
					};
					
						getList('.no-lost','post',ajaxUrl+'/front/clientShopFollow/shopLike',listparam,getListdata);
						getList('.has-lost','post',ajaxUrl+'/front/clientShopFollow/shopLike',listparam,getListdata2);
						
						$('.content').scroll(function () {
					        totleHeight = parseFloat($('.content').height()) + parseFloat($('.content').scrollTop());
					        if (($(".content")[0].scrollHeight == totleHeight) && !listLoading) {
					            ++currentpage;
					            listparam.pageNo=currentpage;
					           // setclcik();
					            $('.sort-list div').click(function(){
									$(this).css('color','#ff5a3a').siblings().css('color','#9b9b9b');
								});
					            getList('.no-lost','post',ajaxUrl+'/front/clientShopFollow/shopLike',listparam,getListdata);
								getList('.has-lost','post',ajaxUrl+'/front/clientShopFollow/shopLike',listparam,getListdata2);
					        }
					   });
					    
					     //页面渲染    
					    function getListdata(obj,r){
					    	var length = r.shop.length;
					    	if (length === 0 && currentpage === 1) {
		                        $(obj).html('<div class="_nodata">暂无数据</div>');
		                    } else if (length !== 0) {
		                    
		                    //星星
		                    	$.each(r.shop,function(n,val){
		                    		starts=val.star;
		                    		nostarts=5-val.star;
		                    		val.starts=[];
		                    		val.nostarts=[];
		                    		
		                    		//转化为数组，5颗星就数组长度为5，然后是上面就可以循环遍历数组长度就知道评论了多少
	                    			for(i=0;i<starts;i++){
	                    				val.starts.push('1')
	                    			}
	                    			for(i=0;i<nostarts;i++){
	                    				val.nostarts.push('2')
	                    			}
	                    			
                         	 	}); 
		                    	 
		                        var html= template('no-lost', r);
		                       
		                        if (currentpage === 1) {
		                            $(obj).html(html);
		                        } else {
		                            $(obj).append(html);
		                        }
		                        //上新
		                         $('.no-lost li').each(function(){
		                         	var $this = $(this).find('.shangx');
		                        	$.post(ajaxUrl+'/front/clientShopFollow/newArrivals',{token:token,shopId:$(this).attr('data-id')},function(r){
										$this.html('上新+'+r.num);
										
	                    			},'json')
	                    			
		                        });
  	                    	    
		                    } else {
		                        listLoadingLock = true;
		                       // alert(0)
		                        $(obj).append('<div class="_nomore">已经没有更多了</div>');
		                    }
		                    
				    	}
					    
					    function getListdata2(obj,r){
					    	var length = r.shop.length;
					    	if (length === 0 && currentpage === 1) {
		                        $(obj).html('<div class="_nodata">暂无数据</div>');
		                    } else if (length !== 0) {
		                        var html= template('has-lost', r);
		                        if (currentpage === 1) {
		                            $(obj).html(html);
		                        } else {
		                            $(obj).append(html);
		                        }
		                        
		                    } else {
		                        listLoadingLock = true;
		                       // alert(0)
		                        $(obj).append('<div class="_nomore">已经没有更多了</div>');
		                    }
		                    
				    	}
					    
					   
				});
			</script>
	</body>

</html>